<p>
  <strong>Name:</strong>
  <%= @teacher.name %> <%= @teacher.surname %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.department %>
</p>

<br><br><%= link_to "<< Back", teacher_index_path %>